/* @import url(//db.onlinewebfonts.com/c/264e1e98d1a3848556f98a4f8085236d?family=BentonSans+Comp+Black);
@import url(//db.onlinewebfonts.com/c/282c8e780436765ea68a4dd5f89256fb?family=Formula+Condensed);
@import url(//db.onlinewebfonts.com/c/05093c1553c8ca12edeb59994bedc772?family=Product+Sans);
@import url(//db.onlinewebfonts.com/c/5719adfbee8edfbb73d99a70e46fd4f8?family=Product+Sans+Thin); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'BentonSans Comp Black'; */
  /* font-family: 'bentonsans-comp-black-regular', sans-serif; */
}
@font-face {
  font-family: "Product Sans";
  src: url("/fonts/ProductSansRegular.ttf");
}

@font-face {
  font-family: "American Captain";
  src: url("/fonts/AmericanCaptain.ttf");
}

@font-face {
  font-family: "BentonSans Comp Black";
  src: url("/fonts/BentonSansCompBlack.otf");
}

a {
  text-decoration: none;
  color: inherit;
}
/* @font-face {
	font-family: 'Marvel';
	src: url('/fonts/MarvelRegular.ttf');
} */
.marquee-container {
  position: relative;
  bottom: 9.5vh;
}
@media (max-width: 1070px) {
  .marquee-container {
    position: relative;
    bottom: -0.5vh;
  }
}
#mr {
  margin-right: 5px;
}
#sub {
  vertical-align: sub;
  font-size: 1.2rem;
  /* opacity: 0.7; */
  color: #4d4544;
  /* -webkit-text-stroke-color:#857370;
	-webkit-text-stroke-width:1px; */
}
body {
  background-color: #f3eee8;
}

#black {
  -webkit-text-stroke-color: #000000;
}
#speak {
  height: 32vw;
  width: 28vw;
}
